{% extends "page.html" %}

{% block title %}{{ section.title }} - gekkio.fi{% endblock title %}

{% block content %}
<section>
{{ section.content | safe }}

<h2>Recent blog posts</h2>

{% set blog = get_section(path="blog/_index.md") %}

<ul>
{% for post in blog.pages | sort(attribute="date") | reverse | slice(end=5) %}
  <li><a href="{{ post.permalink }}">{{ post.title }}</a> - {{ post.date | date(format="%B %-d, %Y") }}</li>
{% endfor %}
</ul>

</section>
{% endblock content %}

{% block footer %}
Icons from <a href="https://github.com/carbon-design-system/carbon">Carbon Design System</a>.
{% endblock footer %}
