<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ config.title}}{% endblock title %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="/gekkio-fi.css">
  </head>
  <body>
    <header>
      <h2>Joonas Javanainen</h2>
      <nav>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
      </nav>
    </header>
{% block content %}
{{ page.content | safe }}
{% endblock content %}
    <footer>
      Copyright © 2010-2020 Joonas Javanainen.
{% block footer %}
{% endblock footer %}
    </footer>
  </body>
</html>
