<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title}}{% endblock title %}</title>
    <link rel="stylesheet" href="/gekkio-fi.css">
    <link rel="alternate" type="application/atom+xml" title="Gekkio's Technical Blog" href="/atom.xml">
  </head>
  <body>
    <header>
      <h2>Joonas Javanainen</h2>
      <nav>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
      </nav>
    </header>
{% block content %}
{{ page.content | safe }}
{% endblock content %}
    <footer>
      Copyright © 2010-2026 Joonas Javanainen.
{% block footer %}
{% endblock footer %}
      <a href="/atom.xml" style="float: right;"><img src="/images/carbon--rss.svg" alt="" style="height: 1em; vertical-align: middle;"> RSS Feed</a>
    </footer>
  </body>
</html>
