name: ci
on:
  pull_request:
  push:
    branches:
    - main

jobs:
  build_only:
    name: Build site
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Run zola build
        run: zola build
  build_and_deploy:
    name: Build + deploy site
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Install Ubuntu packages
        run: |
          sudo snap install aws-cli --classic
      - name: Run zola build
        run: zola build
      - name: Upload to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
        run: |
          aws s3 sync public/ s3://${{ secrets.S3_BUCKET}}/ --endpoint-url ${{ secrets.S3_ENDPOINT}}
